<p>Stats for</p>
<p class="big_text"><%= text_of_slug %></p>

<p>Total number of tags: <%= stats["total_tags_count"]%></p>
<p>Number of h2's: <%= stats["h2_count"]%></p>
<p>Number of p's: <%= stats["p_count"]%></p>
<p>Number of links: <%= stats["a_count"]%></p>

<p><a href="/">Check another slug</a></p>
